

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&family=Special+Gothic+Expanded+One&display=swap');

 
:root { 
    --cor-principal: #C928FC; 
    --cor-secundaria: #284260;
    --cor-destaque: #6E859F;
}
 body { 
    font-family: "Playwrite Australia SA", cursive;
 } 
 h1,h2,h5 { 
    color: var(--corprincipal #C928FC); 
    font-weight: 700;
 } 
 lead{ 
    color: var(--cor-destaque #6E859F); 
    font-weight: 700;
 } 
 footer a,bnt-light :hover {
     color: var(--cor-secundaria #284260)
 } 
 footer a:hover { 
    color: var(--cor-principal #C928FC )
 }